.background {
    background-color: gray;

}

.container {
    background-color: white;
    position: relative;

}

.nav1 {
    position: absolute;
    right: 0;

}

.navbar-brand {
    background-color: #4aaaa5;
    padding: 20px;
    font-family: 'Georgia', Times, "Times New Roman", serif;
    font-weight: bold;

}

.size {
    width: 700px;

}

.formTitle {
    font-family: 'Georgia', Times, "Times New Roman", serif;
    font-weight: bold;
    color: #4aaaa5;

}

.image {
    position: relative;

}

.imgTitle {
    position: absolute;

}

.footer {
    text-align: center;
    background-color: #666;
    color: white;
    padding: 15px;
    border-top-style: solid;
    border-width: thick;
    border-color: #4aaaa5;

}

.copyright {
    font-size: 10px;
    margin: 0;
}