.background {
    background-color: gray;

}

.container {
    background-color: white;
    position: relative;

}

.nav1 {
    position: absolute;
    right: 0;

}

.navbar-brand {
    background-color: #4aaaa5;
    padding: 20px;
    font-family: 'Georgia', Times, "Times New Roman", serif;
    font-weight: bold;

}

.entireForm {
    padding: 20px;
    margin-top: 20px;
    height: 530px;
    width: 800px;
}

.formHeader {
    color: #4aaaa5;
    font-family: 'Georgia', Times, "Times New Roman", serif;
    font-weight: bold;

}

.btn-color {
    background-color: #4aaaa5;

}

.footer {
    background-color: #666;
    color: white;
    padding: 20px;
    border-top-style: solid;
    border-width: thick;
    border-color: #4aaaa5;

}

.writing {
    position: relative;

}

.copyright {
    font-size: 10px;
    position: absolute;
    right: 50%;
}